.e1{
    height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;

    text-align: center;
}

.e1-title{
    font-size: 50px;
    font-weight: 600;
}
.e1-disc{
    font-size: small;
    color:gray
}

.timeline-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    height: 300px;
    min-width: 300px;

  }
  .timeline-wrapper .middle-line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 50%;
    transform: translateY(-50%);
    background:rgb(5, 148, 148);
  
  }
  .box {
    width: 22%;
    position: relative;
    min-height: 300px;
    float: right;
  }
  .box .date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: white;
    overflow: hidden;
    border: 2px solid rgb(5, 148, 148);
  }
  .date p {
    text-align: center;
    margin-top: 12px;

    font-family:Georgia, 'Times New Roman', Times, serif;

    font-size: large;
  }
 
  .box .box-content {
    border-radius: 5px;
    /* background-color: #00b0bd; */
    /* background-color: rgb(26, 146, 120); */
    border:2px solid rgb(5, 148, 148);
    width: 200px;
    position: absolute;
    left: -78px;
    padding: 10px;
  }
  .small{
    font-size: x-small;
  }
  .small2{
    font-size: small;
  }
  .box-content p {
    margin: 0;
    /* color: black; */
  }
  .box-bottom .box-content {
    top: 68%;
  }
  .box-top .box-content {
    top: -8%;
  }
  .box-content::before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
  }
  .box-bottom .box-content::before {
    border-bottom-color: rgb(5, 148, 148);
    top: -20px;
  }
  .box-top .box-content::before {
    border-top-color: rgb(5, 148, 148);
  
    bottom: -20px;
  }
  .small-date{
    font-size: small;
  }
  @media only screen and (max-width: 720px){
    .box .box-content {


        width: 140px;
        left: -50px;
        padding: 10px;
      }
      .box-top .box-content {
        top: -25%;
      }.e1{
        padding: 0%;
      }.timeline-wrapper {
        overflow: auto;
        padding-top: 100px;
      } .timeline-wrapper .middle-line {
        top: 63%;
      }
  }